@import "../../src/main.scss";

.webdev-main-container{

    .header-container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;

        @include tabletMedium{
            flex-direction: row;
        }

        .circle-container{
            width: 7rem;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            background-color: var(--primary-color);
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 70%;
            }
        }

        .header-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .tech-stacks-container{
        height: 150vh;
        background-color: var(--container-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            text-align: center;
            color: var(--primary-color);
            margin-bottom: 8rem;
        }

        .tech-stacks-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10rem;

            @include tabletMedium{
                flex-direction: column;
                align-items: start;
            }

            .circle-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2{
                    margin-bottom: 3rem;
                    font-size: var(--font-size-lg);
                }
            }
        }
    }
}

.circle-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    gap: 2rem; 

    @include tabletMedium{
        flex-direction: row;
        width: 30vw;
        gap: 3rem; 
    }
}

.tech-stack-circle{
    background-color: var(--primary-color);
    width: var(--font-size-xxl);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
        width: var(--font-size-md);
        fill: var(--white);
    }
}

.projects-container{
    height: 220vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tabletMedium{
        height: auto;
        padding-block: 7rem;
    }

    h1{
        text-align: center;
        color: var(--primary-color);
        margin-bottom: 3rem;

        @include tabletMedium{
        margin-bottom: 5rem;
        }
    
    }

    .projects-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        @include tabletMedium{
            flex-direction: row;
            align-items: start;
            width: 80%;
            flex-wrap: wrap;
            gap: 9vw;
        }

        .project-single-container{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .project-card{
                width: 18rem;
                height: 25vh;
                background-color: var(--container-bg-color);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0px 5px 20px 0.5px black;

                @include tabletMedium{
                    width: 40vw;
                    max-width: 25rem;
                    height: 30vh;
                }

                img{
                    height: 100%;
                }
            }

            .project-details{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: .5rem;
                width: 18rem;

                @include tabletMedium{
                    width: 35vw;
                    max-width: 25rem;
                    gap: .3rem;
                }

                h4{
                    font-size: var(--font-size-base);
                    margin-top: 1rem;

                    @include tabletMedium{
                        font-size: var(--font-size-sm);
                    }
                }

                p{
                    font-size: var(--font-size-base);
                    
                    @include tabletMedium{
                        font-size: var(--font-size-sm);
                    }
                }
            }
        }
    }

    a{
        p{
            text-decoration: underline;
            color: var(--primary-color);
        }
    }
}
