@import "../../src/main.scss";


.contacts-container{
    width: 100%;
    height: 100vh;
    background-color: var(--container-bg-color);

    .contacts-wrapper{
        background-color: var(--container-bg-color);

        h1{
            font-family: var(--main-font);
            font-weight: 500;
            color: var(--white);
            text-align: center;
            margin-bottom: 4rem;
        }

        .contacts-card{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 80vw;
            height: 60vh;

            @include tablet{
                width: 60vw;
            }

            ul{
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                flex-wrap: wrap;
                width: 35vw;

                @include mobile{
                    align-items: center;
                    width: 60vw;
                }

                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 5rem;
                    margin-left: 6rem;
                    margin-right: auto;

                    @include tablet{
                        height: 4rem;
                        margin-left: 0;
                    }

                    a{
                        display: flex;
                        gap: 1rem;
                    }
                }
            }
        }
    }
}