@import "../../src/main.scss";


svg{
    width: 1rem;
}


.contacts-container{
    height: 100vh;
    background-color: var(--container-bg-color);

    .contacts-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

        h1{
            font-family: var(--primary-font);
            text-align: center;
            color: var(--primary-color);
            margin-bottom: 3rem;
        }
        
        .contacts-card{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            width: max-content;

            @include tabletMedium {
                flex-direction: row;
                gap: 15rem;
            }

            ul{
                display: flex;
                justify-content: center;
                align-items: baseline;
                flex-direction: column;
                width: 100%;

                li{
                    margin-block: 1.5rem;

                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;
                    }
                }
            }
        }
    }
}