@import url(../../src/main.scss);

.navbar-container{
    height: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-inline: 3rem;
    gap: 2rem;

    img{
        height: 3rem;
        flex: 1;
    }

    nav{
        padding-top: 2rem;
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        ul{
            gap: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding-left: 0;
            margin-bottom: 0;


            a {
                color: var(--grey);
                transition: 600ms;
                text-align: center;
            }

            a:hover,
            a:active,
            a:focus{
                color: var(--white);
                font-weight: 500;
            }
        }
    }
    div{
        padding-top: 2rem;
        flex: 3;
        display: flex;
        justify-content: end;
        
        button {
            margin-right: 5rem;
            border-radius: .5rem;
            border: 0;
            width: 6rem;
            background-color: var(--primary-color);
            color: white;
        }
    }
}