@import "../../src/main.scss";

.navbar-container{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    padding-top: var(--font-size-sm);

    img{
        height: 50px;
        margin-top: 1rem;
        flex: 1;
    }

    nav{
        padding-top: 2rem;
        flex: 4;
        display: flex;
        justify-content: start;
        align-items: center;

        @include tablet{
            display: none;
        }

        ul{
            gap: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding-left: 0;
            margin-bottom: 0;

            a {
                color: var(--grey);
                transition: 600ms;
                text-align: center;
                font-size: var(--font-size-base);
            }

            a:hover,
            a:active,
            a:focus{
                color: var(--white);
                font-weight: 500;
            }
        }
    }

    .button-container{
        padding-top: 2rem;
        flex: 1;
        display: flex;
        justify-content: center;

        @include tablet{
            flex: 3;
            justify-content: end;
            align-items: center;
            padding-top: 0;
        }
        
        button {
            border-radius: .5rem;
            border: 0;
            width: 8rem;
            background-color: var(--primary-color);
            color: white;
        }
    }

    .toggler-nav{
        display: none;

        @include tablet{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }

        svg{
            height: 3rem;
        }
    }
}