@import "../../src/main.scss";

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding-inline: 1rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: var(--container-bg-color);


    svg{
        width: 3rem;
    }

    .hidden-navbar{
        display: none;

        @include tabletMedium {
            display: flex;
        }
    }

    .show-navbar{
        display: flex;
        position: relative;
    }
    
    .toggler-nav{
        display: flex;
        justify-content: center;
        align-items: center;

        @include tabletMedium {
            display: none;
        }

        svg{
            height: 2rem;
        }
    }
}

nav{

    @include tabletMedium {
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
}

.navbar-wrapper{
    background-color: var(--container-bg-color);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @include tabletMedium {
        background-color: transparent;
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: var(--font-size-sm);
    }

    li{

        a{
            color: white;
            font-size: var(--font-size-sm);
        }
    }

    .button-container{

        
        @include tabletMedium {
        }
        button{
            background-color: var(--primary-color);
            border: 0;
            width: 8rem;
            height: 2rem;
            border-radius: 10px;
        }
    }
}