@import url(../../src/main.scss);

h1{
    font-family: var(--main-font);
    font-weight: var(--title-font-weight);
}

.animation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5rem;
    background-color: var(----background-color);
}