@import url(../../src/main.scss);

h1{
    font-family: var(--main-font);
    font-weight: var(--title-font-weight);
}

.animation-container{
    width: 100vw;
    height: 100vh;
    background-color: var(----background-color);
    padding: 5rem;
}