@import "../../src/main.scss";
           
svg{
    width: 20px;
    fill: var(--primary-color);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.home-container{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    position: relative;

    .profile{
        height: 100vh;
        overflow: hidden;

        .name-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            @include tablet{
            flex: 1;
            margin-left: 1.8rem;
            }

            @include mobile{
                margin-left: 1.2rem;
            }

            .intro{
                font-size: var(--font-size-lg);
                font-weight: 300;
            }
            h1{
                font-family: var(--main-font);
                color: var(--primary-color);
                font-size: var(--font-size-xxl);
                font-weight: var(--title-font-weight);
                text-transform: uppercase;
            }

            .intro-container{
                p{
                    font-size: var(--font-size-base);
                    text-transform: uppercase;

                    @include mobile{
                        font-size: .8rem;
                    }

                    span{
                        font-weight: 600;
                    }
                }
            }
            .social-container{
                display: flex;
                margin-top: 2rem;
                gap: 2rem;
            }
        }

        .photo-container{
            height: 100%;
            min-width: 30vw;
            display: flex;
            justify-content: center;
            align-items: end;
            margin-inline: 3rem;

            @include tablet{
            flex: 1;
            }

            div{
                min-width: 35vw;
                height: 90%;
                background-image: url(../../images/profile-red.png);
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;

                @include smallScreen{
                min-width: 45vw;
                }

                @include tablet{
                min-width: 70vw;
                height: 85%;
                }

                @include mobile{
                min-width: 90vw;
                height: 80%;
                }
            }
        }

    }

    .introduction-container{
        width: 100%;
        height: 100vh;
        background-color: var(--container-bg-color);

        .intro-wrapper{
            width: 50vw;

            @include tablet{
                width: 80vw;
            }

            @include mobile{
                width: 90vw;
            }

            h1{
                font-family: var(--main-font);
                font-weight: 500;
                color: var(--white);
                text-align: center;
                margin-bottom: 4rem;

                @include tablet{
                    margin-bottom: 2rem;
                }
            }
            p{
                font-weight: 200;
                line-height: 3rem;
                text-align: center;

                @include mobile{
                    font-size: .8rem;
                }
            }
        }
    }

    .highlights-container{
        height: 100vh;

        @include mobile{
            height: 200vh;
        }

        .highlights-wrapper{

            h1{
                font-family: var(--main-font);
                font-weight: 500;
                color: var(--white);
                text-align: center;
                margin-bottom: 4rem;
            }

            .highlight-card{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                transition: 500ms;

                @include smallScreen{
                    gap: 3rem;
                }

                @include tablet{
                    gap: 2rem;
                }

                @include mobile{
                    flex-direction: column;
                }

                .card-wrapper{
                    width: 30vw;
                    height: 30rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include smallScreen{
                        width: 40vw;
                    }

                    @include tablet{
                        width: 45vw;
                    }

                    @include mobile{
                        width: 80vw;
                        height: 28rem;
                    }

                    .card{
                        perspective: 1000px;
                        width: 18rem;
                        height: 23rem;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: column;
                        background-color: var(--container-bg-color);
                        transition: 300ms;
                        border-radius: 2rem;
                        transform-style: preserve-3d;
                        position: relative;
                        box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);

                        
                        @include tablet{
                            width: 15rem;
                        }

                        @include tablet{
                            width: 18rem;
                            height: 23rem;
                        }
                        
                        .icon-div{
                            position: absolute;
                            top: 2rem;
                            width: 10rem;
                            height: 10rem;
                            background-color: red;
                            border-radius: 50%;

                            @include tablet{
                                top: 3rem;
                                width: 8rem;
                                height: 8rem;
                            }

                            @include mobile{
                                top: 2.5rem;
                            }
                        }

                        img{
                            margin-top: 4rem;
                            width: 5rem;
                            z-index: 1;
                            transition: 300ms;
                        }

                        h2{
                            margin-top: 3rem;
                            text-align: center;
                            transition: 300ms;

                            
                            @include tablet{
                                font-size: 1.3rem;
                            }
                        }

                        p{
                            color: var(--primary-color);
                            margin-block: 1rem;
                            transition: 300ms;
                        }

                        a{
                            transition: 300ms;
                        }
                    }

                    // .card:hover{
                    //     box-shadow: 0px 0px 50px rgb(172, 172, 172);
                    // }
                }
            }
        }
    }

    .contacts-container{
        width: 100%;
        height: 100vh;
        background-color: var(--container-bg-color);

        .contacts-wrapper{
            background-color: var(--container-bg-color);

            h1{
                font-family: var(--main-font);
                font-weight: 500;
                color: var(--white);
                text-align: center;
                margin-bottom: 4rem;
            }

            .contacts-card{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 80vw;
                height: 60vh;

                @include tablet{
                    width: 60vw;
                }

                ul{
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 35vw;

                    @include mobile{
                        align-items: center;
                        width: 60vw;
                    }

                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 5rem;
                        margin-left: 6rem;
                        margin-right: auto;

                        @include tablet{
                            height: 4rem;
                            margin-left: 0;
                        }

                        a{
                            display: flex;
                            gap: 1rem;
                        }
                    }
                }
            }
        }
    }
}