@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    //global variables
    --main-font: 'Roboto Condensed', 'sans serif';
    --secondary-font: 'Roboto', 'sans serif';
    
    --title-font-weight: 700;
    --nav-font-weight: 400;
    --paragraph-font-weight: 300;
    --paragraph-hilight-weight: 500;

    --background-color: #353535;
    --container-bg-color: #232323;
    --primary-color: #E20026;
    --font-color: #000;

    --background-color-dark: #2D2D2D;
    --container-bg-color-dark: #232323;

    //font

    --font-size-sm: clamp(0.8rem, 0.18vw + 0.75rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.36vw + 0.9rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.64vw + 1.07rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1.06vw + 1.27rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.66vw + 1.49rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.52vw + 1.73rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.75vw + 2rem, 5rem);

    //neutral color

    --white: #fff;
    --black: #000;
    --grey: #828282;

    //set global style

    font-family: var(--secondary-font);
    color: white;
}

body{
    background-color: var(--background-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    margin-bottom: 0;
    font-size: var(--font-size-base);
    
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}

h1{
    font-size: var(--font-size-xl);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


//media query

@mixin tabletMedium {
    @media (min-width: 550px) {
        @content;
    }
}

@mixin smallScreen {
    @media (max-width: 888px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 700px) {
        @content;
    }
}


@mixin mobile {
    @media (max-width: 450px) {
        @content;
    }
}

::-webkit-scrollbar {
    width: 6px;
    position: absolute;
    background-color: var(--background-color-dark);
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: var(--primary-color);
}